ul {
  list-style: none;
  margin: 0 auto;
}
.two nav {
  display: block;
  width: 1600px;
  margin: 0 auto 30px;
}
.two ul {
  background: #4e4d4d;
  overflow: hidden;
  margin: 50px;
}
.two li {
  float: left;
}
.two li{
  display: block;
  padding: 1em;
  border-right: 1px solid #ADC0CE;
  background: #4e4d4d;
  color: white;
}
.Cm tr{
  display: block;
  margin-left: 50px;
  border: 1px solid black;
  padding: 5px;
  background: white;
  color: black;
}
.right{
  float: right;
  margin-right: 50px;
}
.Box{
  float: right;
  margin-left: 150px;
  margin-right: 150px;
}
.one nav{
  display: block;
  width: 1600px;
  margin: 0 auto 30px;
}
.one ul{
  background: #e1e1e1;
  overflow: hidden;
  margin: 50px;
}
.one li{
  float: left;
  padding: 1em;
  border-right: 1px solid #ADC0CE
  background: #e1e1e1;
  color: black;
}
