*{
  margin: 0;
  padding: 0;
}
.fig {
  padding: 35px;
}
.fig1{
float: right;
margin-right: 600px;
height: 450px;
}
/*HEADER*/
nav{
  width: 1850px;
  margin: 0 auto;
  height: 50px;
}
nav:before{
  content: "";
  display: block;
  height: 50px;
  width: 1850px;
  background: #565555;
  position: absolute;
  z-index: -1;
}
.ht ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 50px;
}
.ht li{
  float: left;

}
.ht a{
  color: white;
  display: block;
  height: 50px;
  padding: 0 50px;
  text-decoration: none;
  line-height: 50px;

}
.ht a:hover{
  background: #454545;
}
/*content*/
table{
margin-left: 35px;
margin-top: 35px;
width: 300px;
}
tr{
height: 50px;
}
.tx {
  margin-left: 600px;
  margin-right: 600px;
  margin-top: 175px;
  margin-bottom: 50px;
}

/*FOOTER*/
footer p{
  font-size: 20px;
  text-align: right;
  color: white;
}
li{
float: left;
}
